/* COLORS */

$primary-green: #1ED760;
$secondary-green: #1DB854;
$darkest-grey: #121212;
$darker-grey: #181818;
$dark-grey: #1C1C1F;
$medium-grey: #282828;
$light-medium-grey: #333;
$lighter-medium-grey: #444;
$light-grey: #9F9F9F;
$white: #FFF;
$black: #000;
