/* GLOBAL STYLES */

main {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 600px;
  display: flex;
}

body {
  font-family: $font-stack;
  color: $light-grey;
  font-size: 14px;
  font-weight: 300;
  background-color: $darkest-grey;
}

h1, h2, h3, h4 {
  color: $white;
}

h5, h6 {
  color: $light-grey;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  font-size: 44px;
  letter-spacing: -1px;
}

h2 {
  font-size: 34px;
  font-weight: 200;
}

h3 {
  font-size: 26px;
  font-weight: 200;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.white {
  color: $white;
}

/* BUTTONS & INPUTS */

button,
input[type="submit"] {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
}

/* LARGE */

button.large,
input[type="submit"].large {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

/* MEDIUM */

button.medium {
  height: 28px;
  padding: 5px 35px;
  border-radius: 28px;
  font-size: 12px;
}

button.medium:hover {
  border-color: $secondary-green;
}

/* SMALL */

button.small {
  height: 28px;
  padding: 5px 15px;
  border-radius: 28px;
  font-size: 11px;
}

button.small:hover {
  border-color: $secondary-green;
}

/* GREEN */

button.green {
  background-color: $secondary-green;
  border: none;
}

button.green:hover {
  background-color: $primary-green;
}

/* LINKS */

a:hover {
  border-bottom: 1px solid $white;
}

/* INPUTS */

input {
  border-bottom: 1px solid $white;
  padding: 5px;
}

::-webkit-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

:-moz-placeholder {
  color: $white;
}
