/* COLORS */

$primary-green: #1ED760;
$secondary-green: #1DB854;
$darkest-grey: #121212;
$darker-grey: #181818;
$dark-grey: #1C1C1F;
$medium-grey: #282828;
$light-grey: #9F9F9F;
$white: #FFF;
$black: #000;

/* MAIN */

main {
  width: 100%;
  height: 100%;
  display: flex;
}

/* TYPOGRAPHY */

// @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700|Muli:700,400');

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: asset-url('ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal, 400;
  src: asset-url('ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold, 600;
  src: asset-url('ProximaNova-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold, 700;
  src: asset-url('ProximaNova-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: asset-url('ProximaNova-Black.otf') format('opentype');
}

$font-stack: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

body {
  font-family: $font-stack;
  color: $medium-grey;
  font-size: 14px;
  font-weight: 300;
  background-color: $darkest-grey;
}

h1, h2, h3, h4 {
  color: $white;
}

h5 {
  color: $light-grey;
}

h1 {
  font-size: 44px;
  letter-spacing: -1px;
}

h2 {
  font-size: 36px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 26px;
  font-weight: 200;
  letter-spacing: -0.5px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h5 {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
}

/* BUTTONS & INPUTS */

button,
input[type="submit"] {
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
}

/* LARGE */

button.large,
input[type="submit"].large {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

/* MEDIUM */

button.medium {
  height: 28px;
  padding: 5px 35px;
  border-radius: 28px;
  font-size: 12px;
}

button.medium:hover {
  border-color: $secondary-green;
}


/* SMALL */

button.small {
  height: 28px;
  padding: 5px 15px;
  border-radius: 28px;
  font-size: 11px;
}

button.small:hover {
  border-color: $secondary-green;
}

/* GREEN */

button.green {
  background-color: $secondary-green;
  border: none;
}

button.green:hover {
  background-color: $primary-green;
}

/* LINKS */

a:hover {
  border-bottom: 1px solid $white;
}

/* INPUTS */

input {
  border-bottom: 1px solid $white;
  padding: 5px;
}

::-webkit-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

:-moz-placeholder {
  color: $white;
}
