.navbar {
    height: 100vh;
    flex: 0 0 90px;
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light-grey;
}

.round-logo-white {
  margin: 15px;
  width: 60px;
  height: auto;
}

.navbar ul {
  width: 100%;
}

.navbar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.navbar .active {
  border-left: 3px solid $secondary-green;
  color: $white;
}

.navbar a {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a:hover {
  color: $white;
  border: none;
}

.navbar .fa {
  transform: scale(2.5, 2.5);
  padding-bottom: 10px;
}

/* USER */

.user-profile-photo {
  margin: 3px;
  border-radius: 42px;
  width: 42px;
  height: 42px;
}

.user {
  width: 90px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid $black;
}


/* BUTTONS */

.navbar button {
  margin-top: 15px;
  width: 80%;
  height: 28px;
  padding: 5px;
  border-radius: 28px;
  border: 1px solid $white;
  background: transparent;
  font-size: 11px;
  text-align: center;
}

.navbar button:hover {
  border-color: $secondary-green;
  cursor: pointer;
}
