.navbar {
  position: relative;
  height: 100%;
  flex: 0 0 90px;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-grey;
}

.round-logo-white {
  margin: 15px;
  width: 60px;
  height: auto;
}

.navbar ul {
  width: 100%;
}

.navbar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.navbar a {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px solid transparent;
}

.navbar a:hover {
  color: $white;
  border-bottom: none;
}

.navbar .active-col,
.navbar .active-col:hover {
  color: $white;
  border-left: 3px solid $secondary-green;
}

.navbar .fa {
  transform: scale(2, 2);
  padding-bottom: 10px;
}

/* USER */

.user-profile-photo {
  margin: 3px;
  border-radius: 42px;
  width: 42px;
  height: 42px;
}

.user {
  width: 90px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;;
  bottom: 0;
  border-top: 1px solid $black;
}


/* BUTTONS */

.navbar button {
  margin-top: 15px;
}
