.now-playing-container {
  position: relative;
  width: 270px;
  right: 0;
  height: 100vh;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-grey;
}

.play-pause-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-pause-row .fa {
  padding: 20px;
}
