.now-playing-container {
  position: relative;
  min-height: 600px;
  width: 270px;
  right: 0;
  height: 100vh;
  padding: 30px;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-grey;
}

.now-playing-container > * {
  margin-bottom: 10px;
}

.song-progress {
  width: 100%;
}

#song-progress-bar {
  width: 100%;
}

.song-progress-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 11px;
}

.play-pause-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.play-pause-row li {
  margin: 15px 30px;
}

.fa.large {
  transform: scale(4.5, 4.5);
}

.fa.medium {
  transform: scale(2.5, 2);
}

.fa.small {
  transform: scale(1.25, 1.25);
}

.play-queue-row {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

play-queue-row li {
  margin: 15px 30px;
}

progress {
  height: 4px;
  border: 0;
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: $medium-grey;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: $secondary-green;
  border-radius: 2px;
}
progress::-moz-progress-bar {
  background-color: $secondary-green;
  border-radius: 2px;
}
