.play-queue-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.empty-queue {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.empty-queue > * {
    margin-bottom: 15px;
}
