.playlists-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid $medium-grey;
}

.user-playlists {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

#playlist-form {
  width: 210px;
  height: 290px;
  background: $medium-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px 15px 0 0;
}

#playlist-form input {
  margin: 15px;
  width: 80%;
}

#playlist-form input[type="text"] {
  height: 28px;
  border-radius: 5px;
  color: $dark-grey;
  background-color: $white;
}

.playlist-header {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
}

.playlist-photo {
  display: flex;
}

.playlist-photo img {
  margin-right: 15px;
}

.playlist-header-info {
  display: flex;
  flex-direction: column;
}

.playlist-cover {
  display: flex;
}

.playlist-cover img {
  margin: 0 10px 0px 0;
}

.playlist-info {
  padding: 10px 0;
  border-top: 1px solid $medium-grey;
  border-bottom: 1px solid $medium-grey;
}
