.songs-table {
  width: 100%;
  color: $light-grey;
  border-collapse: collapse;
  display: table;
}

.songs-table th {
  padding: 10px;
}

.songs-table tr {
  padding: 10px;
  text-align: left;
}

.song-table tr:hover {
  background-color: $medium-grey;
}

.songs-table td {
  border-spacing: 0;
  border-top: 1px solid $medium-grey;
  padding: 10px;
}

.songs-table .ellipsis {
  // max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.songs-table {
  border-bottom: 1px solid $medium-grey;
}
