.splash {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-image: image-url("hero.jpg");

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
}

.splash p {
  font-size: 12px;
}

.welcome-container {
  width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.splash-right {
  border-left: 1px solid $white;
  width: 60%;
}

.splash-left, .splash-right {
  padding: 5%;
}

.splash-right > * {
  margin-top: 20px;
}

.splash-left > * {
  margin: 20px auto 0;
}

.splash h1 {
  font-size: 54px;
  font-weight: 400;
  color: $primary-green;
}

.marketing li {
  font-size: 17px;
  margin-top: 10px;
}

.marketing li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  color: $primary-green;
  margin-right: 10px;
}

.splash .small-logo {
  width: 135px;
  height: auto;
}

/* BUTTONS */

.splash button, input {
  width: 100%;
}

/* INPUTS */

.splash input[type="text"],
.splash input[type="password"] {
  margin-top: 5px;
}

.splash label {
  margin: 10px 0 0px;
  color: $light-grey;
}

/* ERRORS */

.errors li {
  color: red;
  margin-top: 3px;
}

.errors li:before {
  font-family: 'FontAwesome';
  content: '\f071';
  color: red;
  margin-right: 10px;
}
