.web-player {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 600px;
  overflow-x: scroll;
  overflow-y: scroll;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: $darkest-grey;
}

#main-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  overflow-y: scroll;
}

.now-playing-inactive {
  width: calc(100% - 90px);
}

.now-playing-active {
  width: calc(100% - 360px);
}
